___________
## Clean zipcode_database.csv

In [1]:
import pandas as pd

In [2]:
longlat_df = pd.read_csv('./Data/zipcode_database.csv')

In [3]:
longlat_df.head()

,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages
0,705,STANDARD,AIBONITO,PR,PRIMARY,18.14,-66.26,NA-US-PR-AIBONITO,False,NaN,NaN,NaN
1,610,STANDARD,ANASCO,PR,PRIMARY,18.28,-67.14,NA-US-PR-ANASCO,False,NaN,NaN,NaN
2,611,PO BOX,ANGELES,PR,PRIMARY,18.28,-66.79,NA-US-PR-ANGELES,False,NaN,NaN,NaN
3,612,STANDARD,ARECIBO,PR,PRIMARY,18.45,-66.73,NA-US-PR-ARECIBO,False,NaN,NaN,NaN
4,601,STANDARD,ADJUNTAS,PR,PRIMARY,18.16,-66.72,NA-US-PR-ADJUNTAS,False,NaN,NaN,NaN

In [4]:
longlat_df.drop(columns=['TotalWages','EstimatedPopulation','TaxReturnsFiled','Location'], inplace=True)

In [5]:
longlat_df = longlat_df[longlat_df['Decommisioned']==False]

In [6]:
longlat_df.head()

,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Decommisioned
0,705,STANDARD,AIBONITO,PR,PRIMARY,18.14,-66.26,False
1,610,STANDARD,ANASCO,PR,PRIMARY,18.28,-67.14,False
2,611,PO BOX,ANGELES,PR,PRIMARY,18.28,-66.79,False
3,612,STANDARD,ARECIBO,PR,PRIMARY,18.45,-66.73,False
4,601,STANDARD,ADJUNTAS,PR,PRIMARY,18.16,-66.72,False

In [7]:
longlat_df.drop(columns=['LocationType','Decommisioned'], inplace=True)

In [8]:
longlat_df.head()

   Zipcode ZipCodeType      City State    Lat   Long
0      705    STANDARD  AIBONITO    PR  18.14 -66.26
1      610    STANDARD    ANASCO    PR  18.28 -67.14
2      611      PO BOX   ANGELES    PR  18.28 -66.79
3      612    STANDARD   ARECIBO    PR  18.45 -66.73
4      601    STANDARD  ADJUNTAS    PR  18.16 -66.72

In [9]:
longlat_df['ZipCodeType'].value_counts()

STANDARD    29808
PO BOX       9394
UNIQUE       2115
MILITARY      542
Name: ZipCodeType, dtype: int64

In [10]:
longlat_df = longlat_df[longlat_df['ZipCodeType'] != 'PO BOX']

In [11]:
longlat_df.head()

   Zipcode ZipCodeType      City State    Lat   Long
0      705    STANDARD  AIBONITO    PR  18.14 -66.26
1      610    STANDARD    ANASCO    PR  18.28 -67.14
3      612    STANDARD   ARECIBO    PR  18.45 -66.73
4      601    STANDARD  ADJUNTAS    PR  18.16 -66.72
6      602    STANDARD    AGUADA    PR  18.38 -67.18

In [12]:
len(longlat_df['State'].unique())

58

In [13]:
longlat_df['State'].unique()

array(['PR', 'NJ', 'NY', 'AE', 'VI', 'MA', 'ME', 'NH', 'VT', 'CT', 'RI',
       'DE', 'PA', 'WV', 'KY', 'TN', 'VA', 'GA', 'IN', 'OH', 'IL', 'IA',
       'MN', 'WI', 'MT', 'ND', 'SD', 'KS', 'MO', 'NE', 'CO', 'WY', 'ID',
       'UT', 'AZ', 'NM', 'TX', 'CA', 'NV', 'OR', 'WA', 'AK', 'GU', 'HI',
       'PW', 'FL', 'SC', 'AL', 'MS', 'LA', 'AR', 'OK', 'MI', 'DC', 'MD',
       'NC', 'AA', 'AP'], dtype=object)

In [14]:
terr_list = ['AA','AE','PR','GU','PW','AP','VI']

In [15]:
for terr in terr_list:
    longlat_df.drop(index=longlat_df[longlat_df['State'] == terr].index, inplace=True)

In [16]:
len(longlat_df['State'].unique())

51

In [17]:
longlat_df['ZipCodeType'].unique()

array(['STANDARD', 'UNIQUE'], dtype=object)

In [18]:
longlat_df.drop(columns='ZipCodeType', inplace=True)

In [19]:
longlat_df.reset_index(drop=True, inplace=True)

In [20]:
longlat_df.head()

   Zipcode            City State    Lat   Long
0     7675        WESTWOOD    NJ  40.98 -74.03
1     7677  WOODCLIFF LAKE    NJ  41.02 -74.05
2     7885         WHARTON    NJ  40.89 -74.58
3     7981        WHIPPANY    NJ  40.82 -74.41
4     7999        WHIPPANY    NJ  40.82 -74.41

In [21]:
longlat_df.isna().sum()

Zipcode    0
City       0
State      0
Lat        0
Long       0
dtype: int64

In [22]:
longlat_df.to_csv('./Data/zipcode_database_condensed.csv', index=False)